@page "/administrator"
@using Microsoft.AspNetCore.Components.Authorization

<h3>Tabel Survey</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sesi Survey</th>
      <th scope="col">Tanggal Mulai</th>
      <th scope="col">Tanggal Selesai</th>
      <th scope="col">Status</th>
      <th scope="col">Total Responden</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < SessionManager.SessionRecords.Count; i++)
    {
    	<tr>
      		<th scope="row">@i</th>
      		<td>@SessionManager.SessionRecords[i].Name</td>
      		<td>@SessionManager.SessionRecords[i].StartDate</td>
      		<td>@SessionManager.SessionRecords[i].EndDate</td>
      		<td>@SessionManager.SessionRecords[i].Flag.ToString()</td>
      		<td>@SessionManager.SessionRecords[i].TotalRespondents</td>
      		<td>
				@if(SessionManager.IsSessionOnGoing(i))
				{
          			<button class="btn btn-sm btn-light" disabled>Lihat Hasil</button>
				}
				else
				{
					var totalRespondent = SessionManager.SessionRecords[i].TotalRespondents;
					var id = SessionManager.SessionRecords[i].Id;

					if(totalRespondent < 30)
					{
          				<a href="/invalid-data" class="btn btn-sm btn-info">Lihat Hasil</a>
					}
					else
					{
						var direct = $"/recap/{id}";
						System.Console.WriteLine($"URL: {direct}");
						<a href="@direct" class="btn btn-sm btn-info">Lihat Hasil</a>
					}

					<AuthorizeView Roles="Developer, Administrator">
        				<Authorized>
          					<button @onclick="(() => DeleteSession(id))" class="btn btn-sm btn-success" >Hapus</button>
          					<button @onclick="(() => CloseSession(id))" class="btn btn-sm btn-success" >Close Session</button>
						</Authorized>
    				</AuthorizeView>
				}
      		</td>
    	</tr>
    }
  </tbody>
</table>

<br><br>

<SessionForm />
