@page "/survey"

<div class="questionnaire">
    <div class="question shadow p-3 mb-5 bg-white rounded">

        <h4>Kategori: @SurveyManager.CurrentQuestionnaire!.Domain</h4>
        <span>
            @SurveyManager.CurrentQuestionnaire.Statement
        </span>
        <div class="py-3"></div>

        <EditForm Model="SurveyManager">
        <InputRadioGroup @bind-Value="SurveyManager.CurrentRespond.Value">
            @for (int i = 0; i < SurveyManager.CurrentQuestionnaire.Responds.Count; i++)
            {
                int choice = i+1;
                <div class="option">
                    <span class="px-2"><InputRadio @onclick="@OnSelectedOption" Value="@choice"/></span>
                    <span>@SurveyManager.CurrentQuestionnaire.Responds[i]</span>
                </div>
            }
            </InputRadioGroup>
        </EditForm>
    </div>

    <div class="pagination">
        <button class="btn btn-sm btn-dark" @onclick="@Prev">Prev</button>
        <div class="px-3">
            <span>@_currentPage</span><span>/</span><span>@_maxPage</span>
        </div>
        <button class="btn btn-sm btn-dark" @onclick="@Next">Next</button>
    </div>
</div>

<button class="btn btn-sm btn-primary"
    disabled="@_isDisabled"
    @onclick="@SubmitAsync">
    Submit
</button>

<button @onclick="@_Debug">DEBUG</button>
<button @onclick="@SurveyManager.SubmitRecapAsync">RECAP</button>


@code{
    void _Debug()
    {
        for (int i = 0; i < SurveyManager.Responds.Count; i++)
        {
            System.Console.WriteLine($"#{i}: {SurveyManager.Responds[i].Value}");
        }
    }
}



